.heroSection {
  background: url("/src/assets/Images/workout.jpg") no-repeat center
    center/cover;
  height: 100vh;
  color: var(--color-white);
  display: flex;
  align-items: center;
  justify-content: center;
  position: relative;
}

.overlay {
  background-color: rgba(0, 0, 0, 0.5);
  padding: var(--spacing-xxlarge);
  border-radius: var(--border-radius-large);
}

.contentWrapper {
  max-width: 600px;
  text-align: center;
}

.greetingTitle {
  font-size: 2.5rem;
  margin-bottom: var(--spacing-small);
}

.subText {
  font-size: var(--font-size-large);
  margin-bottom: var(--spacing-xxlarge);
}

.dailyGoals {
  text-align: left;
  margin-bottom: var(--spacing-xxlarge);
}

.sectionTitle {
  font-size: var(--font-size-xlarge);
  margin-bottom: var(--spacing-small);
}

.goalList {
  list-style: none;
  padding: 0;
  margin: 0;
}

.goalList li {
  padding: var(--spacing-extra-small) 0;
  border-bottom: 1px solid rgba(255, 255, 255, 0.2);
}

.dashboardButton {
  background-color: var(--color-accent-background);
  color: var(--color-white);
  text-decoration: none;
  padding: 0.8rem 1.5rem;
  border-radius: var(--border-radius-medium);
  font-weight: 600;
  transition: background-color 0.3s ease;
}

.dashboardButton:hover {
  background-color: var(--color-accent-background-hover);
}
