.container {
  max-width: 900px;
  margin: var(--spacing-xlarge) auto;
  padding: var(--spacing-large);
  background-color: var(--color-light-gray-background);
  border-radius: var(--border-radius-xxlarge);
  box-shadow: var(--shadow-medium);
}

.form {
  display: flex;
  flex-direction: column;
  gap: var(--spacing-medium);
  margin-bottom: var(--spacing-xxlarge);
}

input,
textarea {
  padding: var(--spacing-small);
  font-size: var(--font-size-medium);
  border: 1px solid var(--color-medium-gray-border);
  border-radius: var(--border-radius-medium);
  resize: none;
}

input:focus,
textarea:focus {
  outline: none;
  border-color: var(--color-primary-text);
}

.progressList h3 {
  font-size: var(--font-size-xlarge);
  margin-bottom: var(--spacing-large);
}

.list {
  list-style: none;
  padding: 0;
  margin: 0;
  display: flex;
  flex-direction: column;
  gap: var(--spacing-medium);
}

.item {
  display: flex;
  justify-content: space-between;
  background: var(--color-white);
  border: 1px solid var(--color-border-gray);
  border-left: 5px solid var(--color-primary-background);
  border-radius: var(--border-radius-medium);
  padding: var(--spacing-medium);
  align-items: center;
  flex-wrap: wrap;
  gap: var(--spacing-extra-small);
}

.item p {
  margin: 0.25rem 0;
}

.date {
  font-size: 0.85rem;
  color: var(--color-muted-text);
}

.deleteButton {
  background-color: var(--color-delete-background);
  color: var(--color-white);
  font-weight: bold;
  padding: var(--spacing-extra-small) var(--spacing-small);
  border-radius: var(--border-radius-small);
  border: none;
}
