.formWrapper {
  display: flex;
  justify-content: center;
  align-items: center;
  padding: var(--spacing-xlarge);
  min-height: 100vh;
  background-color: #f3f4f6;
}

.signInForm {
  background-color: var(--color-white);
  padding: var(--spacing-xlarge);
  border-radius: var(--border-radius-large);
  box-shadow: 0 4px 16px rgba(0, 0, 0, 0.1);
  width: 100%;
  max-width: 480px;
  display: flex;
  flex-direction: column;
  gap: var(--spacing-large);
}

.formGroup {
  display: flex;
  flex-direction: column;
  gap: var(--spacing-medium);
  border: none;
  padding: 0;
  margin: 0;
}

.formGroupTitle {
  font-size: var(--font-size-large);
  font-weight: bold;
  margin-bottom: var(--spacing-small);
  color: var(--color-body-text);
}

.formInput {
  padding: var(--spacing-small);
  border: 1px solid var(--color-medium-gray-border);
  border-radius: var(--border-radius-medium);
  font-size: var(--font-size-medium);
  width: 100%;
}

.errorMessage {
  color: var(--color-error-text);
  font-size: var(--font-size-small);
  margin-top: calc(-1 * var(--spacing-small));
}

.link {
  color: var(--color-accent-background);
  text-decoration: underline;
}

.link:hover {
  color: var(--color-accent-background-hover);
}

.forgotPasswordButton {
  background: none;
  border: none;
  color: var(--color-accent-background);
  font-size: var(--font-size-medium);
  cursor: pointer;
  padding: 0;
  margin-left: 4px;
}

.signInButton {
  padding: var(--spacing-small);
  background-color: var(--color-primary-background);
  color: var(--color-white);
  font-size: var(--font-size-medium);
  border: none;
  border-radius: var(--border-radius-medium);
  cursor: pointer;
  width: 100%;
  transition: background-color 0.3s ease;
}

.resetFormContainer {
  background-color: var(--color-white);
  padding: var(--spacing-xlarge);
  border-radius: var(--border-radius-large);
  box-shadow: var(--shadow-medium);
  width: 100%;
  max-width: 400px;
  display: flex;
  flex-direction: column;
  gap: var(--spacing-medium);
}

.resetButtonsContainer {
  display: flex;
  justify-content: space-between;
  gap: var(--spacing-medium);
  margin-top: var(--spacing-medium);
}

.resetPasswordButton,
.closeButton {
  padding: 0.6rem 1.2rem;
  font-size: 0.95rem;
  border: none;
  border-radius: var(--border-radius-medium);
  cursor: pointer;
  color: var(--color-white);
  background-color: var(--color-info-background);
  transition: background-color 0.3s ease;
}

.closeButton {
  background-color: var(--color-delete-background);
}

.resetPasswordButton:hover {
  background-color: var(--color-info-background-hover);
}

.closeButton:hover {
  background-color: var(--color-delete-background-hover);
}
@media (max-width: 600px) {
  .signInForm {
    padding: var(--spacing-large);
  }

  .formInput {
    padding: 0.65rem;
    font-size: 0.95rem;
  }

  .signInButton,
  .resetPasswordButton,
  .closeButton {
    font-size: 0.95rem;
  }

  .resetButtonsContainer {
    flex-direction: column;
  }
}
