.goalSection {
  padding: var(--spacing-xlarge);
  background-color: var(--color-light-gray-background);
  min-height: 100vh;
  display: flex;
  justify-content: center;
  align-items: start;
}

.container {
  background-color: var(--color-white);
  padding: var(--spacing-xlarge);
  border-radius: var(--border-radius-xlarge);
  box-shadow: 0 8px 20px rgba(0, 0, 0, 0.1);
  width: 100%;
  max-width: 600px;
}

.heading {
  font-size: var(--font-size-xxlarge);
  margin-bottom: var(--spacing-large);
  text-align: center;
  color: var(--color-body-text);
}

.goalForm {
  display: flex;
  gap: var(--spacing-extra-small);
  margin-bottom: var(--spacing-medium);
  flex-wrap: wrap;
}

.goalInput {
  flex: 1;
  padding: var(--spacing-small);
  border-radius: var(--border-radius-small);
  border: 1px solid var(--color-medium-gray-border);
  font-size: var(--font-size-medium);
}

.addButton {
  padding: var(--spacing-small) var(--spacing-large);
  background-color: var(--color-primary-background);
  color: var(--color-white);
  border: none;
  border-radius: var(--border-radius-small);
  cursor: pointer;
  font-weight: bold;
  transition: background-color 0.2s ease-in-out;
}

.addButton:hover {
  background-color: #45a049;
}

.goalList {
  list-style-type: none;
  padding: 0;
  margin-bottom: var(--spacing-large);
}

.goalItem {
  background-color: #f1f1f1;
  padding: var(--spacing-small) var(--spacing-medium);
  border-radius: var(--border-radius-small);
  margin-bottom: var(--spacing-extra-small);
  display: flex;
  justify-content: space-between;
  align-items: center;
}

.deleteButton {
  background: none;
  border: none;
  font-size: 1.2rem;
  cursor: pointer;
  color: #ff4d4f;
  transition: transform 0.1s;
}

.deleteButton:hover {
  transform: scale(1.1);
}

.saveButton {
  width: 100%;
  padding: var(--spacing-small);
  background-color: var(--color-accent-background);
  color: var(--color-white);
  border: none;
  border-radius: var(--border-radius-small);
  font-size: var(--font-size-medium);
  font-weight: bold;
  cursor: pointer;
  transition: background-color 0.2s ease-in-out;
}

.saveButton:hover {
  background-color: var(--color-accent-background-hover);
}

.feedback {
  margin-top: var(--spacing-medium);
  font-size: var(--font-size-medium);
  text-align: center;
  color: var(--color-primary-background);
}

@media (max-width: 600px) {
  .signInForm {
    padding: var(--spacing-large);
  }

  .formInput {
    padding: 0.65rem;
    font-size: 0.95rem;
  }

  .signInButton,
  .resetPasswordButton,
  .closeButton {
    font-size: 0.95rem;
  }

  .resetButtonsContainer {
    flex-direction: column;
  }
}
