.workoutOverviewContainer {
  max-width: 600px;
  margin: var(--spacing-xxlarge) auto;
  padding: var(--spacing-xlarge);
  background: var(--color-white);
  border-radius: var(--border-radius-large);
  box-shadow: 0 0 12px rgba(0, 0, 0, 0.05);
}

.title {
  font-size: 1.8rem;
  margin-bottom: var(--spacing-medium);
  text-align: center;
}

.goalList {
  list-style: none;
  padding: 0;
}

.goalItem {
  background-color: var(--color-goal-item-background);
  margin-bottom: var(--spacing-extra-small);
  padding: var(--spacing-small) var(--spacing-medium);
  border-radius: var(--border-radius-medium);
  font-weight: 500;
}
